*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;

}
.calculatorBody{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 400px;
    height: 500px;
}
table{
    border-collapse:collapse;
    background-color:#fff;
    box-shadow: rosybrown 0px 10px 50px; 
    border: 2px solid;
}
td{
    text-align: center;
    color:rgba(11, 11, 11, 0.849);
    border: 2px solid black;
}
input[type="button"]
{
  width: 90px;
  height: 80px;
  color:#fff;
  background-color: rebeccapurple;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  transform: 0.2s ease-in-out;

}
input[type="button"]:hover{
    background-color: aquamarine;
    outline: none;
}
input[type="text"]
{
    width: 90%;
    height: 80px;
    font-size: 20px;
    text-align:right;
    margin: 10px;
    padding:2px;
    outline:none;
    border:none
}